*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#popMenu {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    height: 23px;
    width: 23px;
    background-color: white;
}

header {
    background-color: black;
    height: 75px;
    width: 100%;
}

#navBar {
    list-style-type: none;
    display: flex;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: lightgrey;
    align-items: center;
    line-height: 37.5px;
}

#navBar>li:first-child {
    margin-left: auto;
}

#navBar>li:last-child {
    margin-right: 50px;
}

#navBar>li {
    margin: auto 10px;
}

.title {
    font-size: 100px;
    font-weight: 700;
    margin-top: 50px;
}

.subtitle {
    font-size: 25px;
    color: #B8B8B8;
    font-weight: 400;
    margin-bottom: 10px;
}

.bio {
    font-size: 16px;
    color: grey;
    font-weight: 400;
    line-height: 25px;
    margin: 10px 0;
}

.info {
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", sans-serif;
    margin-left: 100px;
    max-width: 550px;
}

#popMenu>button {
    position: absolute;
    width: 100%;
    opacity: 0;
}

#popMenu>div {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 2px 0;
}

body {
    display: flex;
    flex-direction: column;
}

.mainContainer {
    display: flex;
    align-items: center;
}


.links {
    display: flex;
}

.wrap>img {
    width: 100%;
}

.wrap {
    width: 30px;
    height: 30px;
    display: flex;
    position: relative;
    margin: 3px;
}

#fb {
    width: 25px;
    height: 25px;
}

#linkedin {
    width: 27px;
    height: 27px;
}

.wrap>a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.nicoleImgWrapper {
    max-width: 400px;
    margin: 50px;
}

.nicoleImgWrapper>img  {
    width: 100%;
}