*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'ticking_timebomb_bbregular';
    src: url('ticking-timebomb-bb.regular-webfont.woff2') format('woff2'),
         url('ticking-timebomb-bb.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p {
    font-family: "ticking_timebomb_bbregular", Arial, sans-serif;
}

